
html {
	background-position: 0 0 10% 0;
	background-color: #777;
	-website-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}

body {
	background-color: transparent;
}


.submitQuestionContainer {
	text-align: center;
}

#titleBox {
	margin-bottom: .5%;
	padding: 1.5%;
	text-align: center;
	font-size: 1.5em;
	font-style: bold;
	background-color: rgba(255, 255, 255, 0.8);
	border: solid #000;
}

.form-group 
	input{
    color: orange;
    background: #000;
}

#optionClass {
		text-align: center;
		display: inline-block;
}

.fa-trash {
	color: rgba(0, 0, 0, 0.9);
	padding: 10px;
	margin-top: 5%;
}

.inputBoxes{
	width: 30%;
	text-align: left;
}

.createProductBtn {
	margin-top: .5%;
	text-align: center;
}

.createProductBtn2 {
	margin: 2% 0 0 5%;
}

.productForm {

	margin: 2% 0 0 5%;
}

.addBtn {
	text-align: center;
	margin: .15% 0 .5% 0;
	display: inline;
}


.fa-question-circle {
	color: rgb(0, 160, 255);
	font-size: .80em;
}

#fbButton {
	padding-right: 2%;
}
.fa-facebook-square {
	margin-right: 15%;
}

.fa {
	color: rgba(255, 255, 255);
}

.btn {
padding-top: 5px;
	background-color: rgba(0, 0, 0, 0.8);
}

#viewProductBtn{
	display: inline-block;
	background-color: rgba(0, 150, 0, 0.8);
}

#backToProductsBtn {
	background-color: rgba(0, 0, 0, 0.8);
	color: #fff;
}

.top-panel1  {
	border-radius: 5px;
	width: 100%;
	height: 50px;
	background-color: rgba(0, 0, 0, 0.8);
	text-align: center;
	padding-top: 5px;
	border: solid #fff; 
}

.top-panel2  {
	border-radius: 5px;
	width: 100%;
	background-color: rgba(0, 150, 0, 0.8);
	border-color: #fff;
	text-align: center;
	padding-top: 5px;
	border: solid #fff;
	margin-top: 7%;
}

.panel1 {
	margin: 40px 0px 0 30px;
}

.panel2 {
	margin: 6px 30px 0 0px;
}

h1 {
	color: #fff;
	display: inline-block;
	margin: 0;
}

.mainProducts {
	width: 100%;
	padding: 1px 0px;
	background-color: rgba(255, 255, 255, 0.6);
	color: #000;
	border-radius: 5px;
	border: solid black 1.0px;
	display: inline-block;
	text-align: center;

}

.socialContainer {
	height: 100%;
	width: 100%;
	float: right;

}

.fb1 {
	float: right;
	margin-left: -5%;

}

.twit1 {
	float: right;
	margin-left: -5%;
}

.google1 {
	float: right;

}

.pin1 {
	float: right;
	margin-right: 5%;
}

#searchProducts {
	text-align: center;
}

header {
	width: 100%;
	padding: 15px 0;
	text-align: center;
	color: #fff;
	background-color: #000;
}

.loginBox {
	padding-top: 3%;
	width: 50%;
	background-color: rgba( 0, 0, 0, 0.8);
	height: 300px;
	margin: 10% 25% 0 25%;
	border-radius: 4%;
}

#loginLogo {
	margin-left: 33%;
	display: inline;
	font-size: 3.0em;
	font:bold;
	color: #fff;
}

.fbBtn {
	display: inline;
	margin-left: 25%;
}

#fPTitle {
	margin-left: 25%;
	display: inline;
	font-size: 3.0em;
	font:bold;
}

.menu {
  font-size: 1.0em;
  width: 100%;
  height: 30px;
  display: inline;
}

.menu ul{
  float: right;
  margin: 15px 5px 0 0; 
}

.menu ul li{
  list-style-type: none;
  display: inline;
  margin: 0px 20px 0 20px;
}

.menu ul li a{
  text-decoration: none;
}


#productTitle {
	color: #fff;
	background-color: rgba(0, 0, 0, 0.7);
	text-align: left;
	width: 100%;
	padding: 3% 5%;
	border-radius: 4%;
}

.productTitle	{
	font-size: 1.5em;
}



