<div class="loginBox">
  <form role="form">
    <h1>Log In</h1>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" ng-model="userLogin.email" placeholder="Enter email" required>
    </div>
    <div class="form-group">
     <label for="exampleInputPassword1">Password</label>
     <input type="password" class="form-control" id="exampleInputPassword1" ng-model="userLogin.password" placeholder="Password" required>
    </div>
    <button ng-click="login()" type="submit" class="btn btn-default">Submit</button>
  </form>
  <br />
	<br /> 
  <h1>Sign Up</h1>
  <br />
  <br />
  <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" ng-model="userSignUp.email" placeholder="Enter email" required >
    </div>
    <div class="form-group">
     <label for="exampleInputPassword1">Password</label>
     <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
    </div>
    <div class="form-group">
     <label for="exampleInputPassword1"> Confirm Password</label>
     <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirm Password" required ng-model="userSignUp.password">
    <button ng-click="signUp()" type="submit" class="btn btn-default">Submit</button>
    <a href="/profile"><h5>Forgot your password?</h5></a>
  </form>
  <br />
  <br /> 
  <br />
  <div class="fbBtn">
    <a href="/auth/facebook"><img src="http://www.kilnandco.com/gallery/var/albums/facebook-login-button.png?m=1375582078"></a>
  </div>
  <div class="fbBtn">
    <a href="/auth/twitter"><img src="http://www.linklately.com/spottr/images/login_twitter.png"></a>
  </div>
  <div class="fbBtn">
    <a href="/auth/google"><img src="https://developers.google.com/accounts/images/sign-in-with-google.png"></a>
  </div>
</div>


