<div class="createProductBtn">
	<button id="productBtn" class="btn btn-primary" ng-click="createProduct()">Create Product</button>
</div>

<div class="col-md-6">
	<div id="panle1" class="panel1">
		<div class="top-panel1"><!-- LIST OF PRODUCTS -->
			<h1 id="newTitle">Trending Products</h1>
		</div>
		<input id="searchProducts" type="text" class="form-control" ng-model="query" placeholder="Search for a product">
		<div class="mainProducts"ng-repeat="product in products | filter:query">
			{{product.productTitle}}
			<button id="viewProductBtn" ng-show="!product.productTaken" ng-click="viewProduct(product)" class="btn btn-primary">View Product</button>
			<br />
			<br />
        </div>
			<!-- VIEW PRODUCT BTN -->
	</div>
</div>
<div class="col-md-6">
	<div id="panel2" class="panel2">
		<div class="top-panel2">
			<h1 id="completeTitle">Current Product</h1>
		</div>

		<div id="productTitle">
			<h1>{{singleProduct.productTitle}}</h1>
			<br />
			<br />
			<h3>Product Picture Here{{singleProduct.productPic}}</h3>
			<br />
			<h3>Current Price:
				<br/>
				${{singleProduct.startingPrice}}
			</h3>
			<br />
			<h3>Drop by:
				<br />
				${{singleProduct.reductionAmount}}
			</h3>
			<br />
			<h3>Next Drop:
				<br />
				{{singleProduct.peopleThreshold}} Orders
			</h3>
		</div>
	</div>
</div>




