#footer
  .container.text-center
    div
      | © 2014 Company, Inc.
    div
      strong Hackathon Starter
      |  Project
      |  ·
      | Created by
      a(href='http://sahatyalkabov.com')  Sahat Yalkabov
    div
      | Code licensed under
      a(href='http://opensource.org/licenses/mit-license.html')  MIT License
    div
      a(href='https://github.com/sahat/hackathon-starter') GitHub Project
      |  ·
      a(href='https://github.com/sahat/hackathon-starter/issues')  Issues


script(src='/js/lib/jquery.js?v=#{cacheBuster}')
script(src='/js/lib/bootstrap.js?v=#{cacheBuster}')

script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.js")
script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-route.min.js")
script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-resource.min.js")

script(src="/js/app.js")
script(src="/js/modules.home.js")
script(src="/js/modules.api.js")
script(src="/js/modules.navigation.js")
