<div class="loginBox">
<!-- <div id="loginLogo">GroupDropper</div> -->

<!--     <h2>Login with Facebook!</h2> -->

    <!-- <button id="fbButton" class="btn btn-primary" ng-click="fbLogin()">
    	<span><i class="fa fa-facebook-square fa-2x"></i></span>Login with Facebook</button> -->
  	
  	<br />
  	<br />
  	<br />
 <div class="fbBtn">
 <a href="/auth/facebook"><img src="http://www.kilnandco.com/gallery/var/albums/facebook-login-button.png?m=1375582078"></a>
 </div>
 <div class="fbBtn">
 <a href="/auth/twitter"><img src="http://www.linklately.com/spottr/images/login_twitter.png"></a>
 </div>
 <div class="fbBtn">
 <a href="/auth/google"><img src="https://developers.google.com/accounts/images/sign-in-with-google.png"></a>
 </div>
</div>
</div>
  <!-- <div>
    <button class="btn btn-primary"ng-click="fbLogOut()">Log out</button>
  </div> -->

