<div class="createProductBtn">
	<button id="productBtn" class="btn btn-primary" ng-click="createProduct()">Create Product</button>
</div>

<div class="col-md-6">
	<div id="panle1" class="panel1">
		<div class="top-panel1">
			<!-- LIST OF PRODUCTS -->
			<h1 id="newTitle">Trending Products</h1>
		</div>
		<input id="searchProducts" type="text" class="form-control" ng-model="query" placeholder="Search for a product">
		<div class="mainProducts"ng-repeat="product in products | filter:query">
			<div class="productTitle">{{product.productTitle}}</div>
		<!-- View Product BTN -->

			<!-- <div class="socialContainer">		
					<div class="fb1">
					<div fb-like></div>		
					<div tweet="myModel.Name"></div>			
					<div google-plus></div>
					<div pin-it="myModel.Name" pin-it-image="myModel.ImageUrl"></div>
			</div>
			</div> -->
			<!-- VIEW PRODUCT BTN -->
			<button id="viewProductBtn" ng-show="!product.productTaken" ng-click="viewProduct(product)" class="btn btn-primary">View Product</button>
			 <!-- <div class="socialContainer">
            <div class="fb1">
                <div fb-like="myModel.FbLikeUrl"></div>
            </div>
            <div class="twit1">
                <div tweet="myModel.Name"></div>
            </div>
            <div class="google1">
                <div google-plus></div>
            </div>
            <div class="pin1">
                <div pin-it="myModel.Name" pin-it-image="myModel.ImageUrl"></div>
            </div>
        </div> -->
			<br />
			<br />
        </div>
			<!-- VIEW PRODUCT BTN -->
	</div>
</div>
<div class="col-md-6">
	<div id="panel2" class="panel2">
		<div class="top-panel2">
			<h1 id="completeTitle">Current Product</h1>
		</div>

		<div id="productTitle">
			<h1>{{currentProduct.productTitle}}</h1>
			<br />
			<br />
			<h3>Product Picture Here{{currentProduct.productPic}}</h3>
			<br />
			<h3>Current Price:
				<br/>
				${{currentProduct.startingPrice}}
			</h3>
			<br />
			<h3>Drop by:
				<br />
				${{currentProduct.reductionAmount}}
			</h3>
			<br />
			<h3>Next Drop:
				<br />
				{{currentProduct.peopleThreshold - currentProduct.currentThreshold}} Orders Needed
			</h3>
			<button class="btn default-btn" ng-click='purchase()'>Purchase</button>
		</div>
	</div>
</div>




