/*
*
* Shorthand CSS for quick HTML adjustments
*
*/

/****************************\
	LAYOUT
\****************************/

	.pad0		{ padding: 0 !important; }
	.pad5		{ padding: 5px !important; }
	.pad5t 		{ padding-top: 5px !important; }
	.pad5b 		{ padding-bottom: 5px !important; }
	.pad10 		{ padding: 10px !important; }
	.pad10tb 	{ padding-top: 10px !important; padding-bottom: 10px !important; }
	.pad10t 	{ padding-top: 10px !important; }
	.pad10b 	{ padding-bottom: 10px !important; }
	.pad10lr 	{ padding-left: 10px !important; padding-right: 10px !important; }
	.pad10l 	{ padding-left: 10px !important; }
	.pad10r 	{ padding-right: 10px !important; }
	.pad20 		{ padding: 20px !important; }
	.pad20tb 	{ padding-top: 20px !important; padding-bottom: 20px !important; }
	.pad20t 	{ padding-top: 20px !important; }
	.pad20b 	{ padding-bottom: 20px !important; }
	.pad20lr 	{ padding-left: 20px !important; padding-right: 20px !important; }
	.pad20l 	{ padding-left: 20px !important; }
	.pad20r 	{ padding-right: 20px !important; }
	.pad30 		{ padding: 30px !important; }
	.pad30tb 	{ padding-top: 30px !important; padding-bottom: 30px !important; }
	.pad30t 	{ padding-top: 30px !important; }
	.pad30b 	{ padding-bottom: 30px !important; }
	.pad30lr 	{ padding-left: 30px !important; padding-right: 30px !important; }
	.pad30l 	{ padding-left: 30px !important; }
	.pad30r 	{ padding-right: 30px !important; }
	.pad40 		{ padding: 40px !important; }
	.pad40tb 	{ padding-top: 40px !important; padding-bottom: 40px !important; }
	.pad40t 	{ padding-top: 40px !important; }
	.pad40b 	{ padding-bottom: 40px !important; }
	.pad40lr 	{ padding-left: 40px !important; padding-right: 40px !important; }
	.pad40l 	{ padding-left: 40px !important; }
	.pad40r 	{ padding-right: 40px !important; }

	.mar0		{ margin: 0 !important; }
	.mara		{ margin-left: auto !important; margin-right: auto !important;}
	.mar10 		{ margin: 10px !important; }
	.mar10tb 	{ margin-top: 10px !important; margin-bottom: 10px !important; }
	.mar10t		{ margin-top: 10px !important; }
	.mar10b 	{ margin-bottom: 10px !important; }
	.mar10lr 	{ margin-left: 10px !important; margin-right: 10px !important; }
	.mar10l 	{ margin-left: 10px !important; }
	.mar10r 	{ margin-right: 10px !important; }
	.mar20 		{ margin: 20px !important; }
	.mar20tb 	{ margin-top: 20px !important; margin-bottom: 20px !important; }
	.mar20t 	{ margin-top: 20px !important; }
	.mar20b 	{ margin-bottom: 20px !important; }
	.mar20lr 	{ margin-left: 20px !important; margin-right: 20px !important; }
	.mar20l 	{ margin-left: 20px !important; }
	.mar20r 	{ margin-right: 20px !important; }
	.mar30 		{ margin: 30px !important; }
	.mar30tb 	{ margin-top: 30px !important; margin-bottom: 30px !important; }
	.mar30t 	{ margin-top: 30px !important; }
	.mar30b 	{ margin-bottom: 30px !important; }
	.mar30lr 	{ margin-left: 30px !important; margin-right: 30px !important; }
	.mar30l 	{ margin-left: 30px !important; }
	.mar30r 	{ margin-right: 30px !important; }	 

	.max30	    { max-width: 30px  !important; }
	.max50		{ max-width: 50px  !important; }
	.max100		{ max-width: 100px !important; }
	.max200		{ max-width: 200px !important; }
	.max300		{ max-width: 300px !important; }
	.max400		{ max-width: 400px !important; }
	.max768		{ max-width: 768px !important; }  // max ipad horizontal resolution
	.max992		{ max-width: 992px !important; }
	.maxfull	{ max-width: 100% !important; }
	

	.thirty		{ width: 30% !important; }
	.seventy	{ width: 70% !important; }

	.overflow	{overflow: auto;}

	.fr { float:right !important; }
	.fl { float:left; }
	.fn { float:none; }

	.d-b, .block   { display:block; }
	.d-i, .inline  { display:inline; }
	.d-ib          { display:inline-block; }
	.d-n, .none    { display:none !important; }
	.pr      { position:relative; }
	.pb      { position:absolute; bottom:0; }
	.pal     { left: 0; }
	.par     { right: 0; }
	.ps      { position:static; }
	.pointer { cursor: pointer; }
	.hidden  { position:absolute !important; left:-10000px; top:-10000px; visibility:hidden; }

	.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
	.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
	.invisible { visibility: hidden; }

	.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; visibility: hidden; }
	.clearfix:after { clear: both; }
	.clearfix { zoom: 1; }



/****************************\
	TEXT
\****************************/

	.italic 		{ font-style: italic !important; }
	.bold, .strong 	{ font-weight: bold !important; }
	.normal			{ font-weight: normal !important; text-transform: none !important; }
	.underline 		{ text-decoration: underline; }
	.lowercase		{ text-transform: lowercase; }
	.capitalize		{ text-transform: capitalize; }
	.uppercase		{ text-transform: uppercase; }

	.tal, .ta-left   { text-align:left !important; }
	.tac, .ta-center { text-align:center !important; }
	.tar, .ta-right  { text-align:right !important; }
	.vab             { vertical-align: bottom; }

	.f10	{ font-size: 10px !important; }
	.f11	{ font-size: 11px !important; }
	.f12	{ font-size: 12px !important; line-height: 18px; }
	.f14	{ font-size: 14px !important; }
	.f16	{ font-size: 16px !important; }
	.f18	{ font-size: 18px !important; }
	.f22	{ font-size: 22px !important; }
	.f26	{ font-size: 26px !important; }

	.f700 	{ font-weight: 700 !important; }

	.txt-white 		{ color: #ffffff; }
	.txt-gray 		{ color: #555555 !important; }
	.txt-grayLight		{ color: #999999 !important; }
	.txt-grayLightest	{ color: #cacaca !important; }
	.txt-orange 		{ color: #f0b23a !important; }
	.txt-primary 		{ color: #4db8f6 !important; }


	.txt-headline 	{ font-family: 'Open Sans','Helvetica'; }
	.txt-paragraph	{ font-family: 'Georgia', 'Times New Roman'; }

	.opacity7 	{ opacity: .7 !important; };





/****************************\
	BACKGROUND
\****************************/

	.bg-white	{ background-color: #FFFFFF !important; }	 
	.bg-light	{ background-color: #f5f5f5 !important; } 
	.bg-primary 	{ background-color: #4db8f6 !important; }
	.border-primary	{ border-color: #4db8f6 !important; }
	.bg-secondary 	{ background-color: #A5F0BA !important; }






