footer
  .container.text-center
    p.pull-left © 2014 trendrr | All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https:www.johndangerstorey.com') John D.
      li
        a(href='https://www.facebook.com/BrysonCHill') Bryson Chill 

script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.js")
script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-route.min.js")
script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-resource.min.js")
