<div class="row">
<div class="col-sm-12">
<h2>API Browser</h2>
<p>This content is loaded by Angular at views/api.html</p>
<ol><li>
<a target="_self" href="/api/aviary">Aviary</a></li><li>
<a target="_self" href="/api/facebook">Facebook</a><small> (Login required)</small></li><li>
<a target="_self" href="/api/foursquare">Foursquare</a><small> (Login required)</small></li><li>
<a target="_self" href="/api/github">GitHub</a><small> (Login required)</small></li><li>
<a target="_self" href="/api/lastfm">Last.fm</a></li><li>
<a target="_self" href="/api/nyt">New York Times</a></li><li>
<a target="_self" href="/api/tumblr">Tumblr</a><small> (Login required)</small></li><li>
<a target="_self" href="/api/twitter">Twitter</a><small> (Login required)</small></li><li>
<a target="_self" href="/api/scraping">Web Scraping</a></li><li>
<a target="_self" href="/api/paypal">PayPal</a></li></ol>
</div>
</div>